.CardArea {
	margin-top: 80px;
}

.Deck {
	display: flex;
	flex-flow: column nowrap;
}

.Deck-Header {
	align-self: center;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.Deck-Header h1 {
	color: #f4f5f6;
}

.Deck-Button {
	position: relative;
	padding: 0;
	font-size: large;
	width: 100px;
	height: 80px;
	border: 2px solid #888888;
	outline: none;
	background-color: #f4f5f6;
	border-radius: 20px;
	color: #222930;
	cursor: pointer;
}
.Deck-Button:active {
	box-shadow: none;
}
