.TodoForm form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row nowrap;
}

.TodoForm input {
	border-radius: 4px;
	padding: 1rem 1.2rem;
	flex: 1 1 100%;
	outline: none;
	border: none;
	font-size: 1rem;
}

.TodoForm button {
	/* 	border-radius: 4px;
	background-color: #ffffff00;
	flex: 1 1 auto;
	color: #efefef;
	outline: none;
	cursor: pointer;
	border: none;
	font-size: 1rem; */
	visibility: hidden;
}
