.Todolist {
	margin-top: 2rem;
	padding: 1rem 2rem;
	border-radius: 4px;
	background: #222930;
	width: 90%;
	color: white;
	overflow: auto;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-flow: column nowrap;
}
.Todolist h1 {
	align-self: flex-start;
	text-align: left;
	letter-spacing: 0.05em;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.Todolist h1 span {
	display: block;
	font-size: 0.8rem;
	margin-bottom: 0.7rem;
	margin-left: 3px;
	margin-top: 0.2rem;
}

.NoTodo {
	color: #efefef;
	text-align: center;
}

.TodoContainer {
	margin-top: 1em;
}
