.Todo-Task {
	padding: 0.8rem 0;
	display: flex;
	flex-flow: row nowrap;
	transform: opacity 0.4s linear;
	align-items: center;
}

.Todo-Text {
	padding: 0;
	background: transparent;
	color: white;
	border: 0;
	outline: 0;
	border-bottom: 2px solid #d49a3f;
	font-size: 1rem;
}

.Todo-Text:hover {
	cursor: pointer;
}

.Todo-Text.completed {
	text-decoration: line-through;
	color: #aaa;
	border-bottom: 2px solid rgb(65, 52, 32);
}

.Todo-Buttons {
	padding: 0.1rem;
	background: transparent;
	color: #d49a3f;
	margin-left: auto;
	flex: 0 0 80px;
	border: 0;
	outline: 0;
	font-size: 1rem;
}

.Todo-Buttons button {
	border: none;
	font-size: 1em;
	margin: 0.4em;
	background: none;
	-webkit-appearance: none;
	cursor: pointer;
	color: #fff;
}

.TodoEForm {
	padding: 0.8rem 0;
	display: flex;
	flex-flow: row nowrap;
	transform: opacity 0.4s linear;
	background: rgba(255, 255, 255, 0.1);
}

.Todo-EditForm {
	display: flex;
	flex-wrap: nowrap;
}

.Todo-EditForm input {
	border-radius: 4px;
	padding: 0.2em 0.8em;
	flex: 1 1 75%;
	outline: none;
	border: none;
	font-size: 1rem;
}
.Todo-EditForm button {
	border: none;
	font-size: 1.5em;
	margin: 0.4em;
	margin-left: auto;
	background: none;
	-webkit-appearance: none;
	cursor: pointer;
	color: #fff;
	border-radius: 4px;
}
.Todo-EditForm button:hover {
	background: #60758a9a;
}
.Todo-EditForm input,
.Todo-EditForm button {
	font-family: 'Quicksand', sans-serif;
}
