.DiceBoard {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.DiceBoard button {
	width: 15em;
	padding: 1.5em;
	border: 0px;
	border-radius: 10px;
	color: white;
	background-color: darkslateblue;
	margin-top: 3em;
}

.DiceBoard button:hover {
	background-color: slateblue;
	cursor: pointer;
}

.dice-container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
