.Coinflip {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row nowrap;
}

.CoinSide {
	display: flex;
	flex-flow: column nowrap;
	width: 200px;
	align-items: flex-start;
	color: whitesmoke;
}

.CoinSide h4 {
	letter-spacing: 1em;
}

.CoinRight {
	margin-left: auto;
	width: 150px;
}

.Coinflip img {
	cursor: pointer;
}
