.App {
	display: flex;
	flex-flow: column nowrap;
}

.App-Nav {
	display: flex;
	justify-content: space-evenly;
	background-color: #222930;
	flex-wrap: wrap;
	border-radius: 7px;
	margin: 2em 1em;
}

.App-NavElement {
	padding: 0.8rem;
}

.App-NavElement:hover {
	display: inline;
	background-color: #5c6e815e;
}

.App-NavElement a {
	color: #c5cacf;
	font-weight: 500;
	cursor: pointer;
	font-size: 1.2rem;
	text-decoration: none;
}

.App-NavElement a.App-NavActive {
	color: #768da5;
}

.App-Comp {
	align-self: center;
	display: flex;
	align-items: center;
}
