body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background: linear-gradient(
		135deg,
		rgba(179, 229, 252, 1) 0%,
		rgba(179, 229, 252, 1) 50%,
		rgba(240, 98, 146, 1) 50%,
		rgba(240, 98, 146, 1) 100%
	); */
	background: rgb(92, 110, 129);
	background: linear-gradient(
		135deg,
		rgba(92, 110, 129, 1) 0%,
		rgba(34, 41, 48, 1) 100%
	);
	font-family: 'Rubik', sans-serif;
	color: #78909c;
	background-attachment: fixed;
	align-content: center;
}

#root {
	width: 90vw;
	margin: auto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
